<body>
    <div id="login" *ngIf="user.role == 's-admin'">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Register a new User.</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" [(ngModel)]="username" name="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label><br>
                                <input type="email" [(ngModel)]="email" name="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Password:</label><br>
                                <input type="text" [(ngModel)]="password" name="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Role:</label><br>
                                <input type="text" [(ngModel)]="role" name="role" class="form-control">
                            </div>
                            <div class="form-group">
                                <button (click)="addNewUser()" class="btn btn-info btn-md">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center text-white pt-5">Current Users</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                    <h3 class="text-center text-info">Current Users.</h3>
                        <ul class="list-group" *ngFor="let user of users">
                                <li class="list-group-item">ID: {{user.id}}</li>
                                <li class="list-group-item">Username: {{user.username}}</li>
                                <li class="list-group-item">Email: {{user.email}}</li>
                                <li class="list-group-item">Role: {{user.role}}</li>
                                <p></p>
                        </ul>
                    </div>
                    <h3 class="text-center text-info">Please enter the ID of a user to delete.</h3>
                    <div class="form-group">
                        <label for="username" class="text-info">User ID:</label><br>
                        <input type="text" [(ngModel)]="id" name="id" class="form-control">
                    </div>
                    <div class="form-group">
                        <button (click)="deleteUser(id)" class="btn btn-info btn-md">Delete</button>
                    </div>
                </div>
            </div>
        </div>
</body>