<form>
<h3 class="text-center text-info">Add Channel to Group.</h3>
  <div class="form-row">
    <div class="col">
      <label for="groupname" class="text-info">Group Name:</label><br>
      <input type="text" [(ngModel)]="addgroupName" name="groupName" class="form-control">
    </div>
    <div class="col">
      <label for="channelname" class="text-info">Name of the channel to be added:</label><br>
      <input type="text" [(ngModel)]="addchannelName" name="channelname" class="form-control">
      
    </div>
    <button (click)="addNewChannel()" class="btn btn-info btn-md">Submit</button>
  </div>
</form>
<hr/>
<br/>
<form>
<h3 class="text-center text-info">Remove Channel from Group.</h3>
  <div class="form-row">
    <div class="col">
      <label for="groupname" class="text-info">Group Name:</label><br>
      <input type="text" [(ngModel)]="delgroupName" name="groupName" class="form-control">
    </div>
    <div class="col">
      <label for="channelname" class="text-info">Name of the channel to be removed:</label><br>
      <input type="text" [(ngModel)]="delchannelName" name="channelname" class="form-control">
    </div>
    <button (click)="deleteChannel()" class="btn btn-info btn-md">Submit</button>
  </div>
</form>
<hr/>
<br/>
<div id="login-box" class="col-sm">
    <h3 class="text-center text-info">Current Groups.</h3>
    <ul class="list-group" *ngFor="let group of groups">
        <li class="list-group-item">ID: {{group.id}}</li>
        <li class="list-group-item">Name: {{group.name}}</li>
        <li class="list-group-item">Group Admins: {{group.admins}}</li>
        <li class="list-group-item">Group Assis: {{group.assis}}</li>
        <li class="list-group-item">Group Users: {{group.users}}</li>    
        <li class="list-group-item" *ngFor="let channel of group.channels">Group Channels: {{channel.name}}, {{channel.users}}</li>
        <p></p>
    </ul>
</div>